.token.keyword {
  color: #d73a49;
}
.token.punctuation {
  color: #24292e;
}
.token.operator {
  color: #d73a49;
}
.token.comment {
  color: #6a737d;
}
.token.function {
  color: #6f42c1;
}
.token.string {
  color: #032f62;
}
.token.number {
  color: #005cc5;
}
.token.boolean {
  color: #005cc5;
}
