.language-svelte .tag {
  color: var(--sr-hl-green);
}
.language-svelte .attr-name {
  color: var(--sr-hl-purple);
}
.language-svelte .attr-value {
  color: var(--sr-hl-blue-dark);
}
.language-svelte .selector {
  color: var(--sr-hl-green);
}
.language-svelte .property {
  color: var(--sr-hl-blue);
}
