.language-typescript,
.language-javascript {
  color: var(--sr-hl-blue-mid);
}
.language-typescript .string,
.language-javascript .string {
  color: var(--sr-hl-blue-deep);
}
.language-typescript .class-name,
.language-javascript .class-name {
  color: var(--sr-hl-gray-dark);
}
